body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Rajdhani', sans-serif;
}


@font-face {
  font-family: "F1.8-Regular";
  src: local("AF1.8-Regular"),
    url("./fonts/F1.8-Regular.otf") format("truetype");
  font-weight: normal;
}